.container_projects {
  width: 100%;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
}

.projects a {
  margin-right: 0.5em;
}

@media screen and (max-width: 613px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .projects h1 {
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 855px) {
  .projects {
    justify-content: space-around;
  }
}
